/* ==========================================================================
   Author's custom styles
   ========================================================================== */
::selection {
  background: #D2DFA1; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #D2DFA1; /* Gecko Browsers */
}

* { box-sizing: border-box; }
body{ font-size: 13px; line-height: 160%;}
h1,h2{ margin: 0 }
h1{ font-size: 19px; }
h2{ font-size: 15px; margin-bottom: 8px }
h3{ font-size: 14px; margin:15px 0 10px 0; }
article{ margin-top: 20px }
ul{ padding-left: 40px; }


.container{ width: 790px; padding: 0 }
.footer-page section{ padding: 0 }

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 5mm auto 18mm;
  background: white;
  border: 1px #e7e7e7 solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  .subpage { height: 257mm; }
    .subpage-header{ text-align: right; }
    .title{ text-transform: uppercase; }
    p{ margin: 0 }
      .skills ul{ padding-left: 25px; }
      /* .skills li{ display: inline-block }
      .skills li:after { content: "," }
      .skills li:first-child:before{ content: "• "; }
      .skills li:last-child:after{ content: "."} */

      .work-experience li { margin: 2px 0; }
      .projects-links p { margin-left: 10px; }

.list-group{margin:0}

@media (min-width: 767px) and (max-width: 768px){
    .page {
      width: 95%;
    }
}

@media (max-width: 767px){
  .container{ width: 85%; }
  .page {
    width: 95%;
    padding: 15px 20px;
    margin: 2mm auto 16mm;
  }
  .subpage {
    height: 100%;
  }
}

/** print style **/
@page { size: A4; margin: 0; }
@media print {
  html, body {
    width: 215mm;
    height: 270mm;
  }
  .page {
    padding: 8mm 20mm;
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
    .subpage{ outline: initial; border: initial; }
        a[href]:after { content: none !important; }

  .hidden-xs {
    display: block!important;
  }
}
