/** Colors **/
/** Screen Size **/
/** Media Queries **/
/* cleaning style */
body, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

textarea:focus, input:focus, button:focus {
  outline: 0; }

ul {
  padding: 0;
  list-style-type: none;
  margin: 0; }

/* -------------- */
@media (max-width: 639px) {
  .profile {
    overflow: hidden;
    width: 100%;
    height: 50%; } }
@media (min-width: 640px) and (max-width: 1023px) {
  .profile {
    /*height: 36%;*/
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    background: #E0E0E0; } }
.profile .profile-picture {
  position: relative; }
  @media (max-width: 639px) {
    .profile .profile-picture {
      overflow: hidden;
      width: 100%;
      height: 50vh; } }
  @media (min-width: 640px) and (max-width: 1023px) {
    .profile .profile-picture {
      height: 100%;
      width: 260px;
      text-align: center;
      margin: 20px 0 30px 20px;
      float: left; } }
  @media (min-width: 1024px) {
    .profile .profile-picture {
      background-color: #9E9E9E; } }
  @media (max-width: 639px) {
    .profile .profile-picture h1, .profile .profile-picture h2 {
      text-shadow: 0px 0px 5px #000;
      position: absolute;
      color: #FFF;
      bottom: 0; } }
  .profile .profile-picture #user-picture {
    width: 100%; }
    @media (max-width: 639px) {
      .profile .profile-picture #user-picture {
        margin-top: -5%; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .profile .profile-picture #user-picture {
        border-radius: 50%; } }
  .profile .profile-picture #user-name {
    text-transform: uppercase;
    font-size: 28px; }
    @media (max-width: 639px) {
      .profile .profile-picture #user-name {
        margin: 0 0 25px 15px; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .profile .profile-picture #user-name {
        position: relative; } }
  .profile .profile-picture #user-profession {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 100; }
    @media (max-width: 639px) {
      .profile .profile-picture #user-profession {
        margin: 10px 15px; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .profile .profile-picture #user-profession {
        color: #light-black; } }
@media (min-width: 640px) and (max-width: 1023px) {
  .profile .profile-contact {
    margin-top: 45px; } }
@media (max-width: 639px) {
  .profile .btn {
    display: none; } }
@media (min-width: 640px) and (max-width: 1023px) {
  .profile .btn {
    float: right; } }

.main {
  overflow: hidden; }
  @media (min-width: 640px) and (max-width: 1023px) {
    .main {
      padding-top: 375px; } }

/** structure style **/
@media (max-width: 639px) {
  .grid {
    width: 100%; } }
@media (min-width: 640px) and (max-width: 1023px) {
  .grid {
    float: left;
    width: 49%; } }
@media (min-width: 1024px) {
  .grid {
    float: left;
    width: 33%; } }

/** cards style **/
.card-wrapper {
  overflow: hidden;
  margin-bottom: 5px; }
  .card-wrapper .card-section {
    margin: 15px;
    font-size: 15px;
    font-weight: 100; }
  .card-wrapper .card {
    width: 85%;
    position: relative;
    margin: 15px auto;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: #FFF; }
    .card-wrapper .card header {
      padding: 20px 0 0 15px; }
      .card-wrapper .card header h3 {
        font-weight: 400;
        color: #4CAF50; }
    .card-wrapper .card.card-progressbar p {
      margin-top: 5px; }
    .card-wrapper .card.card-progressbar p:first-child {
      margin: 0; }
    .card-wrapper .card.card-progressbar progress {
      background-color: #E3F2FD;
      border: 0;
      width: 100%;
      height: 18px; }
    .card-wrapper .card.card-progressbar progress::-webkit-progress-bar {
      background-color: #E3F2FD; }
    .card-wrapper .card.card-progressbar progress::-webkit-progress-value {
      background: #2196F3; }
    .card-wrapper .card.card-progressbar progress::-moz-progress-bar {
      background: #cdeb8e; }
    .card-wrapper .card.card-contact li {
      overflow: hidden;
      border-bottom: 1px solid #E0E0E0; }
      .card-wrapper .card.card-contact li div {
        float: left; }
      .card-wrapper .card.card-contact li .card-contact-icon {
        height: 52px;
        font-size: 22px;
        width: 52px;
        line-height: 52px;
        text-align: center;
        color: #4CAF50;
        margin-right: 12px; }
      .card-wrapper .card.card-contact li .card-contact-text {
        /*border-bottom: 1px solid $grey;
        width: 85%;*/
        padding-top: 5px; }
        .card-wrapper .card.card-contact li .card-contact-text .small {
          color: #9E9E9E;
          font-size: 14px; }
      .card-wrapper .card.card-contact li:last-child .card-contact-text {
        border: 0; }
    .card-wrapper .card.card-contact li:last-child {
      border: 0; }
    .card-wrapper .card.card-header-with-icon div {
      float: left; }
    .card-wrapper .card.card-header-with-icon header {
      overflow: hidden; }
    .card-wrapper .card.card-header-with-icon .header-icon {
      font-size: 22px;
      text-align: center;
      color: #FFF;
      margin-right: 12px;
      background-color: #4CAF50;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      line-height: 55px; }
    .card-wrapper .card.card-header-with-icon .header-title {
      margin-top: 2px; }
    .card-wrapper .card.card-header-with-icon footer {
      text-align: center;
      margin: 0;
      border-top: 1px solid #E0E0E0; }
      .card-wrapper .card.card-header-with-icon footer a {
        padding: 10px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #4CAF50; }
    .card-wrapper .card .card-middle-content {
      padding: 15px; }

.footer {
  margin-bottom: 20px;
  text-align: right; }

/** button style **/
.btn {
  border: 0;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 15px 30px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0 7.4%; }
  .btn.btn-blue {
    background-color: #2196F3; }

/** animation **/
* {
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s; }

/*# sourceMappingURL=style.css.map */
