body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #454545;
}

h1,
h2{
  margin: 3px;
  font-weight: 400;
  line-height: 1.1;
}

ul{
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

ul, li {
  list-style: none;
}

a,
a:visited{
  color: #454545;
}

article{
  text-align: center;
}

  .user-image{
    margin: 0;
  }

    .user-image img{
      border-radius: 50%;
      width: 100px;
    }

  h1{
    font-size: 1.8em;
  }
  h2{
    font-size: 1.2em;
  }

  .social-media li{ display: inline; }

    .social-media i {
      border: 1px solid rgba(0, 0, 0, 0);
      font-size: 25px;
      line-height: 42px;
      width: 42px;
      height: 40px;
      transition: all .3s ease-in;
    }

    .social-media i:hover,
    .social-media i:active,
    .social-media i:focus{
      color: #28262D;
      border-bottom: 1px solid #28262D;
    }

.center{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:100%;
}
