$green: #4CAF50;
$blue: #2196F3;
$light-blue: #E3F2FD;
$white: #FFF;
$grey: #E0E0E0;
$black: #000;
$light-black: #9E9E9E;


/* cleaning style */
body,p,h1,h2,h3, h4{margin:0; padding:0;font-family: 'Roboto', sans-serif;}
textarea:focus, input:focus, button:focus{ outline: 0; }
ul { padding: 0; list-style-type: none; margin: 0 }

.profile-picture{
  overflow: hidden;
  width: 100%;
  height: 50%;
  position: relative;
  
    h1, h2{
      position: absolute;
      color: $white;
      bottom:0;
      text-shadow: 0px 0px 5px #000;      
    }

    #user-name{
      text-transform: uppercase;
      font-size: 28px;
      margin: 0 0 25px 15px;
    }
    
    #user-profession{
      text-transform: capitalize;
      font-size: 16px;
      margin: 10px 15px;
      font-weight: 100;
    }

    #user-picture{
      margin-top:-5%;
      width: 100%;
    }
}
  
.card-wrapper{
  overflow:hidden;
  margin-bottom: 5px;
  
  .card-section{
    margin: 15px;
    font-size: 15px;
    font-weight: 100;
  }

  .card{
    width: 85%;
    position: relative;
    margin: 15px auto;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, .6);
    border-radius: 3px;
    background-color: $white;

    header{ 
      padding: 20px 0 0 15px;
      
      h3{ 
        font-weight: 400;
        color: $green; 
      }
    }
    
    // card with progressbar
    &.card-progressbar{
        p { margin-top: 5px; }
        p:first-child{ margin: 0}
    
        progress {  
          background-color: $light-blue;
          border: 0;
          width: 100%;
          height: 18px;
        }  
        progress::-webkit-progress-bar {  
          background-color: $light-blue;
        }  
        progress::-webkit-progress-value {  
          background: $blue;
        }  
        progress::-moz-progress-bar {  
          background: #cdeb8e;
        }
    
    }// .card-progressbar
      
    // card with contact informations
    &.card-contact{

        li{
          overflow: hidden;
          border-bottom: 1px solid $grey;
          div{ float: left }

          .card-contact-icon{
            height: 52px;
            font-size: 22px;
            width: 52px;
            line-height: 52px;
            text-align: center;
            color: $green;
            margin-right: 12px;
          }
          .card-contact-text{
            /*border-bottom: 1px solid $grey;
            width: 85%;*/
            padding-top: 5px;
              
              .small{
                color: $light-black;
                font-size: 14px;
              }
          }

          &:last-child{
            .card-contact-text{
              border: 0;
              //padding: 8px 0 0 0;    
            }
          }
        }
        li:last-child{
          border: 0;
        }

    }// .card-contact
    
    &.card-header-with-icon{
        
        div{ float: left }
        
        header{ overflow: hidden }
        
        .header-icon{
          font-size: 22px;
          text-align: center;
          color: $white;
          margin-right: 12px;
          background-color: $green;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          line-height: 55px;
        }
        .header-title{
          margin-top: 2px;
        }
        
        footer{
         text-align: center;
         margin: 0;
         border-top: 1px solid $grey;
            
           a{
             padding: 10px;
             display: block;   
             text-decoration: none;
             text-transform: uppercase;
             color: $green;
           }
        }
    }
      
    .card-middle-content { 
      padding: 15px;
    }// .card-middle-content
    
  }// .card

}// .card-wrapper

.footer{
  margin-bottom: 20px;
  text-align: right;

  .btn {
    border: 0;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0 7.4%;

    &.btn-blue{ 
      background-color: $blue;
    }
    
  } // .btn
  
} // footer