/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* { box-sizing: border-box; }
body{ font-size: 12px; }
h1,h2{ margin: 0 }
h1{ font-size: 18px; }
h2{ font-size: 14px; margin-bottom: 8px }
article{ margin-top: 15px }  
ul{ padding-left: 40px; }


.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 5mm auto 18mm;
  background: white;
  border: 1px #e7e7e7 solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  .subpage { height: 257mm; }
    .subpage-header{ text-align: right; }
    .title{ text-transform: uppercase; }
    p{ margin: 0 }
      .skills ul{ padding-left: 25px; }
      .skills li{ display: inline-block }
      .skills li:after { content: "," }
      .skills li:first-child:before{ content: "• "; }
      .skills li:last-child:after{ content: "."}

      .work-experience li { margin: 2px 0; }

.list-group{margin:0}

/** print style **/
@page { size: A4; margin: 0; }
@media print {
  html, body { width: 210mm; height: 297mm; }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
    .subpage{ outline: initial; border: initial; }
        a[href]:after { content: none !important; }
}
